/* Global CSS, rules that affects every element of a kind. */
a {
  text-decoration: none;
}

abbr[title] {
  border-bottom: 2px dotted #aaa;
}

/* These can't be linked from code since they are in the blog post body. */
figcaption {
  color: #aaa;
}

pre {
  text-align: left;
}
